import * as React from 'react';
import { I{{properCase name}}Props } from '.';

export const {{properCase name}}: React.FC< I{{properCase name}}Props > = (props) => {
    const { children } = props;
  return (
    <div>
      {{componentName}}
    </div>
  );
};